<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.appfreeze</string>
	<key>connections</key>
	<dict>
		<key>2E510E2F-DA93-4F42-921F-5A3D9513A9AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A7B5DDC-2702-4A3C-B443-B3DB6CC93BED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67FAF45F-3A3B-45B6-B4AB-D8FAD6583D8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5E70A59-43A0-4038-9C4F-CE22ED1C1D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE15752D-DC11-4A3C-BD59-454E1EF945E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFEB7D08-F086-4CCA-AAED-888F19EB4812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFEB7D08-F086-4CCA-AAED-888F19EB4812</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Pause and resume execution of the frontmost app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Freeze</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CE15752D-DC11-4A3C-BD59-454E1EF945E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -STOP "$(osascript -e 'tell application "System Events" to return (unix id) of first process whose frontmost is true')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFEB7D08-F086-4CCA-AAED-888F19EB4812</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -STOP "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A7B5DDC-2702-4A3C-B443-B3DB6CC93BED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:freeze_keyword}</string>
				<key>outputprefix</key>
				<string>Freeze </string>
				<key>outputtype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Pause execution of frontmost app</string>
				<key>title</key>
				<string>Freeze</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.runningappsfilter</string>
			<key>uid</key>
			<string>2E510E2F-DA93-4F42-921F-5A3D9513A9AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kill -CONT "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5E70A59-43A0-4038-9C4F-CE22ED1C1D22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:unfreeze_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding frozen apps…</string>
				<key>script</key>
				<string>function runCommand(...arguments) {
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.fileURLWithPath("/usr/bin/env")
  task.arguments = arguments
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFileAndReturnError(false)
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  return stringOut
}

function run() {
  const frozenApps = runCommand("ps", "rAo", "stat,pid,command")
    .split("\n")
    .filter(line =&gt; /^T/.test(line) &amp;&amp; /\.app\//.test(line))

  // Return early if no frozen apps found
  if (frozenApps.length &lt; 1) return JSON.stringify({ items: [{
    title: "No Frozen Applications Found",
    valid: false
  }]})

  // Frozen apps
  const sfItems = frozenApps.map(app =&gt; {
    const fields = app.split(" ").filter(field =&gt; field)
    const pid = fields[1]
    const path = new RegExp(".+\.app").exec(fields.slice(2).join(" "))[0]

    return {
      title: $(path).lastPathComponent.js,
      subtitle: path,
      icon: { type: "fileicon", path: path },
      arg: pid
    }
  })

  return JSON.stringify({ items: sfItems })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Resume execution of frontmost app</string>
				<key>title</key>
				<string>Unfreeze</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67FAF45F-3A3B-45B6-B4AB-D8FAD6583D8D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Pause execution of a running app via the `freeze` keyword.

![Listing running apps to freeze](images/about/freeze.png)

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to quickly freeze the frontmost app.

Resume execution with the `unfreeze` keyword.

![Listing apps to unfreeze](images/about/unfreeze.png)</string>
	<key>uidata</key>
	<dict>
		<key>2A7B5DDC-2702-4A3C-B443-B3DB6CC93BED</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>2E510E2F-DA93-4F42-921F-5A3D9513A9AB</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>67FAF45F-3A3B-45B6-B4AB-D8FAD6583D8D</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>C5E70A59-43A0-4038-9C4F-CE22ED1C1D22</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>CE15752D-DC11-4A3C-BD59-454E1EF945E5</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>FFEB7D08-F086-4CCA-AAED-888F19EB4812</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>freeze</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Freeze Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>freeze_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>unfreeze</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Unfreeze Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>unfreeze_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/app-freeze-workflow/</string>
</dict>
</plist>
